.holder {
    width: 100%;
    background: url(./img/fondo.jpg)
}

.runner {
    margin-left: -185px;
    margin-top: 100px;
    width: 228.303px;
    height: 250px;
    background: url('./img/animacion.png');
    animation: run 1.5s steps(12) infinite reverse, slide 4.3s steps(500) infinite;
}

@keyframes run {
    100% {background-position: 2403px}
}

@keyframes slide {
    100% { margin-left: 100.50%;}
}